---
import BaseLayout from "@layouts/BaseLayout.astro";
import MainLayout from "@layouts/MainLayout.astro";
import PageHeader from "@components/PageHeader.astro";
import SectionHeader from "@components/SectionHeader.astro";

import jsonData from "@data/tech-subelements.json";
import groupData from "@data/tech-groups.json";

export function getStaticPaths() {
    return jsonData.map((data) => ({
        params: { subelementName: data.subelementId },
    }));
}

const { subelementName } = Astro.params;
const examName = "technician";

// get the list of groups
const groupList =
    jsonData.find((data) => data.subelementId === subelementName)?.groups || [];

const groupDescriptions = new Map();
groupList.forEach((groupId) => {
    const desc = groupData.find(
        (group) => group.groupId === groupId
    ).description;
    groupDescriptions.set(groupId, desc);
});
---

<BaseLayout pageTitle={`Groups in subelement ${subelementName}`}>
    <MainLayout>
        <PageHeader>Groups in subelement {subelementName}:</PageHeader>
        <ul class="mt-4">
            {
                groupList.map((groupId) => (
                    <li class="my-2">
                        <a
                            class="hover:no-underline text-2xl"
                            href={`/${examName}/groups/${groupId}`}
                        >
                            Group {groupId}
                        </a>
                        <p class="pb-2">{groupDescriptions.get(groupId)}</p>
                    </li>
                ))
            }
        </ul>
    </MainLayout>
</BaseLayout>
