---
import BaseLayout from "@layouts/BaseLayout.astro";
import MainLayout from "@layouts/MainLayout.astro";
import PageHeader from "@components/PageHeader.astro";
import SectionHeader from "@components/SectionHeader.astro";

import groupJson from "@data/general-groups.json";
const examName = "general";
---

<BaseLayout pageTitle={`Groups in the ${examName} exam`}>
  <MainLayout>
    <PageHeader>{`All Groups In The ${examName} Exam`}</PageHeader>
    <p class="py-4">
      The {examName} exam is divided into {groupJson.length} groups of questions.
      Each group contains questions that are related to each other. You can view
      the questions in each group by clicking on the links below.
    </p>
    <ul>
      {
        groupJson.map((groupData) => {
          return (
            <li class="border-2 p-4 my-4">
              <SectionHeader>Group {groupData.groupId}</SectionHeader>
              <p class="py-4">{groupData.description}</p>
              <a href={`/${examName}/groups/${groupData.groupId}`}>
                View questions in group {groupData.groupId}
              </a>
            </li>
          );
        })
      }
      <li></li>
    </ul>
  </MainLayout>
</BaseLayout>
