---
import groupJson from "@data/tech-groups.json";
const examName = "technician";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Groups</title>
  </head>
  <body>
    <h1 class="my-2 text-2xl">Groups</h1>
    <ul>
      {
        groupJson.map((groupData) => {
          return (
            <li class="border-2 p-2 my-2 rounded-md">
              <a
                class="text-sky-500 text-lg hover:text-sky-800"
                href={`/${examName}/groups/${groupData.groupId}`}
              >
                {groupData.groupId}
              </a>
              <p class="text-gray-600">{groupData.description}</p>
            </li>
          );
        })
      }
      <li></li>
    </ul>
  </body>
</html>
