---
import QuestionItem from "@components/QuestionItem.astro";
const { questionList, highlightAnswer = true } = Astro.props;
---

<ol>
  {
    questionList.map((q) => (
      <li class="flex gap-4 mb-4">
        <span class="font-bold text-lg">{q.id}</span>
        <QuestionItem
          questionId={q.id}
          questionText={q.text}
          questionChoices={q.choices}
          correctAnswer={q.answer}
          highlightAnswer={highlightAnswer}
        />
      </li>
    ))
  }
</ol>
