---
import Button from "./Button.astro";
import SectionHeader from "./SectionHeader.astro";
const { groupData, groupList, examName } = Astro.props;

const groupDetails = new Map();
groupList.forEach((groupId) => {
  const data = groupData.find((group) => group.groupId === groupId);
  groupDetails.set(groupId, data);
});
---

<dl>
  {
    groupList.map((groupId) => (
      <div class=" bg-indigo-100 bg-opacity-50 p-4 my-4">
        <dt class="pb-2">
          <SectionHeader>Group {groupId}</SectionHeader>
        </dt>
        <dd>{groupDetails.get(groupId).description}</dd>
        <p class="py-2">{groupData.description}</p>

        <Button href={`/${examName}/groups/${groupId}`}>View Questions</Button>
      </div>
    ))
  }
</dl>
