---
import Button from "./Button.astro";
import SectionHeader from "./SectionHeader.astro";
const { subelements, examType } = Astro.props;
---

<ul>
  {
    subelements.map((subelement) => {
      return (
        <li class="bg-indigo-100 bg-opacity-50 p-4 my-4">
          <SectionHeader>
            Subelement {subelement.subelementName}:{" "}
            <span class="capitalize">
              {subelement.description.toLowerCase()}
            </span>
          </SectionHeader>

          <div class="flex gap-4 my-2 ">
            <Button
              href={`/${examType}/subelements/${subelement.subelementName}`}
            >
              View Groups
            </Button>

            <Button
              href={`/${examType}/questions/${subelement.subelementName}`}
            >
              View Questions
            </Button>
          </div>
        </li>
      );
    })
  }
</ul>
