---
import BaseLayout from "@layouts/BaseLayout.astro";
import MainLayout from "@layouts/MainLayout.astro";
import PageHeader from "@components/PageHeader.astro";
import SectionHeader from "@components/SectionHeader.astro";
import QuestionList from "@components/QuestionList.astro";

import fs from "fs/promises";

export function getStaticPaths() {
  const examNames = ["technician", "general", "extra"];
  const numExams = 6;

  // {params: {examName: 'tech', examId: 1}}

  const paths = examNames.map((examName) => {
    const exams = [];
    for (let i = 0; i < numExams; i++) {
      exams.push({ params: { examName, examId: i } });
    }
    return exams;
  });

  return paths;
}

// loadData() loads the JSON data from the exam files
async function loadData(examName, id) {
  const filePath = "./src/data/exams";

  const data = await fs.readFile(
    filePath + `/${examName}/${examName}-exam-${id}.json`,
    { encoding: "utf-8" }
  );
  const exam = JSON.parse(data);
  return exam;
}

const { examName, examId } = Astro.params;

// const data = await import("../../../data/exams/extra/extra-exam-0.json");
const questionList = await loadData(examName, examId);
---

<BaseLayout>
  <MainLayout>
    <PageHeader>{examName} Exam Practice Test #{examId} Answers</PageHeader>
    <div class="py-4">
      <QuestionList questionList={questionList} highlightAnswer={true} />
    </div>
  </MainLayout>
</BaseLayout>
